<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ gallery.title }} {% if let Some(t) = title %} :: {{ t }} {% endif %}</title>
    <link href="static/style.css" rel="stylesheet" />
</head>
<body class="image-page"><div class="image-toolbar">
            <a class='arrow' id='home' title="Home" href='index.html'>&#9632;</a>
            {% if let Some(previous) = previous_image %}
                <a class='arrow' id='left' title="Previous" href='{{ previous.base_name() }}.html'>&#9664;</a>
            {% else %}
                <span></span>
            {% endif %}
            {% if let Some(next) = next_image %}
                <a class='arrow' id='right' title="Next" href='{{ next.base_name() }}.html'>&#9654;</a>
            {% else %}
                <span></span>
            {% endif %}
            <span>{{ index }}/{{ gallery.image_count() }}</span>
            {% if let Some(t) = title %}<span>{{ t }}</span>{% endif %}
            <span>{{ image.get_date_time() -}}
                {%- if let Some(p) = place -%}
                , {{ p }}
                {% endif %}
            </span>
            {% if let Some(a) = author %}
                <span>© {{ a }}</span>
            {% endif %}
        </div><img class="image-itself" src="images/{{ image.base_name() }}.jpg" id="image-itself"/>
        {% if image.exif_info.is_some() %}
            {% let exif = image.exif_info.as_ref().unwrap() %}
            <div id="exif">
               {{ exif.camera }} | ISO {{ exif.iso }} | {{ exif.aperture }} | {{ exif.exposure }} | {{ exif.focal_length }}
            </div>
        {% endif %}

        <script src="static/gallery.js"></script>
</body>
</html>