<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>
            {{ gallery.title }} {% if title %} :: {{ title }} {% endif %}
        </title>
        <link href="static/style.css" rel="stylesheet" />
    </head>
    <body class="image-page">
        <div class="image-toolbar">
            <a class="arrow" id="home" title="Home" href="index.html"
                >&#9632;</a
            >
            {% if previous %}
            <a
                class="arrow"
                id="left"
                title="Previous"
                href="{{ previous.base_name }}.html"
                >&#9664;</a
            >
            {% else %}
            <span></span>
            {% endif %} {% if next %}
            <a
                class="arrow"
                id="right"
                title="Next"
                href="{{ next.base_name }}.html"
                >&#9654;</a
            >
            {% else %}
            <span></span>
            {% endif %}
            <span>{{ index }}/{{ image_count }}</span>
            {% if title %}<span>{{ title }}</span>{% endif %}
            <span>
                {{ date_time -}} {%- if place -%} , {{ place }} {%
                endif %}
            </span>
            {% if author %}
            <span>© {{ author }}</span>
            {% endif %}
        </div>
        <img
            class="image-itself"
            src="images/{{ image.base_name }}.jpg"
            id="image-itself"
        />
        {% if exif %}
        <div id="exif">
            {{ exif.camera }} | ISO {{ exif.iso }} | {{ exif.aperture }} | {{
            exif.exposure }} | {{ exif.focal_length }}
        </div>
        {% endif %}

        <script src="static/gallery.js"></script>
    </body>
</html>
